<h1>Sublimes Cigars</h1>
<h2>The Epitome of Taste and Excellence</h2>
<div class="image"><%= image_tag "https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xfp1/t31.0-8/904861_335234936580186_726960134_o.jpg" %></div>